<%- include('Layout/head.ejs') %>
<main class="flex justify-center items-center flex-col h-[50vh]">
  <h1 class="my-5 text-3xl">
    Tabriklaymiz siz kursga yozildingiz <%= student.username%>
  </h1>
  <a href="/" class="p-4 bg-blue-500 text-white rounded">Kurslarni ko'rish</a>
</main>
<%- include('Layout/main.ejs') %>
