<nav class="bg-red-500">
  <div class="container mx-auto flex justify-between py-5">
    <h1>University Courses</h1>
    <ul>
      <li>
        <a href="/">Log Out</a>
      </li>
    </ul>
  </div>
</nav>
